{% extends 'base.html.twig' %}

{% block body_id 'perform-training' %}
{% block header %}{% endblock %}
{% block body_container_class 'container-fluid body-container' %}
{% block main_class 'perform-training' %}

{% block main_content %}
    <div class="training-bg">
        <img class="img-fluid" src="{{ training.image }}">
        <div class="q-and-a">
            <div class="question h4">{{ question.questionText }}</div>
            <div class="answers">
                <form method="post" action="">
                {% for answer in answers %}
                    <label class="answer-label">
                        <input type="radio" name="answer" value="{{ answer.id }}"> {{ answer.answer }}
                    </label>
                {% endfor %}
                    <button type="submit" class="btn btn-primary">Ответить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}{% endblock %}
{% block footer %}{% endblock %}