{% extends 'base.html.twig' %}

{% block body_id 'perform-training' %}
{% block header %}{% endblock %}
{% block body_container_class 'container-fluid body-container' %}
{% block main_class 'perform-training' %}

{% block main_content %}
    <div class="training-bg">
        <img class="img-fluid" src="{{ training.image }}">
        <div class="training-results">
            <h4>Завершено!</h4>
            <p>Поздравляем, тест «{{ training.title }}» успешно завершён!</p>
            <p>Ваш результат: {{ trainingState.score }} баллов из {{ maxScore }}.</p>
            <p><a href="{{ path('user_cabinet') }}">Вернуться в личный кабинет</a></p>
        </div>
    </div>
{% endblock %}

{% block right_sidebar %}{% endblock %}
{% block footer %}{% endblock %}