{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block header %}{% endblock %}

{% block main_class 'col-xs-12 main-login' %}
{% block main_content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="login">
        <form action="{{ path('user_login') }}" method="post">
            <fieldset>
                <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'Авторизация' }}</legend>
                <div class="form-group">
                    <label for="username">{{ 'Имя' }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'Пароль' }}</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Войти' }}
                </button>
            </fieldset>
            {% if is_granted('ROLE_ADMIN') %}
            <input type="hidden" name="_target_path" value="admin" />
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block right_sidebar %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
