{% extends 'base.html.twig' %}

{% block body_id 'user-cabinet' %}
{% block main_class 'col-xs-12' %}

{% block main_content %}
    <ul>
    {% for training in trainings %}
        <li><a href="{{ path('perform_training', {'id': training.id}) }}">{{ training.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block right_sidebar %}{% endblock %}