.main-login {
    width: 100%;
}
.login {
    width: 34%;
    margin: 0 auto;
}
.q-and-a {
    position: fixed;
    left: 50%;
    bottom: 100px;
    width: 36%;
    margin-left: -18%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}
.answer-label {
    display: block;
}
.training-results {
    position: absolute;
    left: 50%;
    top: 20px;
    width: 60%;
    margin-left: -30%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
}